<!DOCTYPE html>
<html>

<head>
    <title>My Goals</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">

        <h2 class="mb-4">
            My Goals
        </h2>

        <a href="/goals/create/" class="btn btn-primary mb-3">
            Create New Goal
        </a>

        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th>Title</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Priority</th>
                    <th>Status</th>
                    <th>Risk</th>
                    <th>Target Date</th>
                    <th>Action</th>
                </tr>

            </thead>

            <tbody>

                {% for goal in goals %}

                <tr>

                    <td>{{ goal.title }}</td>
                    <td>{{ goal.goal_type }}</td>
                    <td>{{ goal.goal_category }}</td>
                    <td>{{ goal.priority }}</td>
                    <td>

                        {% if goal.status == 'Active' %}

                        <span class="badge bg-success">
                            Active
                        </span>

                        {% elif goal.status == 'Paused' %}

                        <span class="badge bg-warning">
                            Paused
                        </span>

                        {% else %}

                        <span class="badge bg-primary">
                            Completed
                        </span>

                        {% endif %}

                    </td>

                    <td>

                        {% if goal.risk_level == 'High Risk' %}

                        <span class="badge bg-danger">
                            High Risk
                        </span>

                        {% elif goal.risk_level == 'Medium Risk' %}

                        <span class="badge bg-warning text-dark">
                            Medium Risk
                        </span>

                        {% elif goal.risk_level == 'Paused' %}

                        <span class="badge bg-dark">
                            Paused
                        </span>

                        {% elif goal.risk_level == 'Completed' %}

                        <span class="badge bg-primary">
                            Completed
                        </span>

                        {% else %}

                        <span class="badge bg-success">
                            Low Risk
                        </span>

                        {% endif %}

                    </td>

                    <td>{{ goal.target_date }}</td>

                    <td>
                        <a href="/goals/{{ goal.id }}/" class="btn btn-info btn-sm">
                            View Details
                        </a>

                        <a href="/goals/{{ goal.id }}/edit/" class="btn btn-warning btn-sm">
                            Edit
                        </a>

                        <a href="/goals/{{ goal.id }}/delete/" class="btn btn-danger btn-sm"
                            onclick="return confirm('Delete this goal?')">
                            Delete
                        </a>

                    </td>



                </tr>

                {% empty %}

                <tr>

                    <td colspan="8" class="text-center">
                        No goals found.
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</body>

</html>