<!DOCTYPE html>
<html>

<head>
    <title>Roadmap Preview</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    <div class="container mt-5">

        <div class="card shadow">

            <div class="card-body">

                <h2>
                    AI Roadmap Preview
                </h2>

                <hr>

                <h5>
                    Goal:
                    {{ goal_data.title }}
                </h5>

                <form method="POST">

                    {% csrf_token %}

                    {% for step in roadmap_steps %}

                    <div class="mb-3">

                        <label class="form-label">
                            Phase {{ forloop.counter }}
                        </label>

                        <input type="text" name="phase_{{ forloop.counter }}" value="{{ step }}" class="form-control">

                    </div>

                    {% endfor %}

                    <button type="submit" class="btn btn-warning">
                        Edit & Save Changes
                    </button>

                    <a href="/goals/accept-roadmap/" class="btn btn-success">
                        Accept Roadmap
                    </a>

                </form>

            </div>

        </div>

    </div>

</body>

</html>